{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "ignore": [
    "**/__tests__",
    "**/*.test.js",
    "**/*.test.ts",
    "src/*.test.tsx",
    "src/*.test.ts",
    "src/*.test.js",
    "src/*.test.jsx",
    "src/App.tsx",
    "src/index.css",
    "src/index.tsx",
    "src/react-app-env.d.ts",
    "src/reportWebVitals.ts",
    "src/setupTests.ts"
  ]
}
