.modal-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 3rem;
    // background-color: red;
    border: solid 0.1rem black;
    border-top: none;
    border-right: none;
    border-left: none;
    // border-radius: 2rem 2rem 0 0;
    // margin: -1.2rem 0 0 0;
}