.modal-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.4rem;
    // background-color: blue;
    // border: solid 0.1rem black;
    // border-bottom: none;
    // border-right: none;
    // border-left: none;
    // border-radius:  0 0 2.5rem 2.5rem;
}